#add-product-btn,
#save-product-btn {
  background-color: var(--primary);
  color: white;
  transition: background-color 0.3s ease;
}

#add-product-btn:hover,
#save-product-btn:hover {
  background-color: var(--primary-dark);
}

.btn-danger,
#confirm-delete-btn {
  background-color: #FF6F61;
  border: none;
}

.btn-danger,
#confirm-delete-btn:hover {
  background-color: #D84E42;
}

.btn-warning {
  background-color: var(--accent);
  border: none;
  color: var(--text);
}

body.modal-open {
  overflow: hidden !important;
  padding-right: 0 !important;
}

.header .actions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .actions li {
  display: inline-block;
  margin-left: 1rem;
}

.header .actions button {
  background: none;
}